.profile-img {
    width: 17.5rem;
}
@media screen and (min-width: 768px) {
    .profile-img {
        width: 25rem;
    }
}
main ul {
    list-style: none;
    font-size: 1.25rem;
}
main ul > li:not(:last-child) {
    margin-bottom: 0.75rem;
}
.card-deck ul li:before {
    content: '✓  ';
}
a {
    color: #ffffff;
}
a:hover {
    text-decoration-line: none;
    color: #ffffff;
}