main {
    margin-bottom: 60px;
}
ul {
    list-style: none;
}
.card-deck ul li:before {
    content: '✓  ';
}
a {
    color: #ffffff;
}
a:hover {
    text-decoration-line: none;
    color: #ffffff;
}