.jumbotron {
    position: static;
}
.btn-top {
    position: fixed;
    right: 30px;
    bottom: 10%;
    z-index: 4;
}
.quote {
    color: #ffffff;
    z-index: 3;
    position: relative;
    font-size: 16px;
    margin: 0px 40px 0px 40px;
    padding-top: 10px;
}
.img {
    z-index: 2;
}
body {
    background-color: #777;
    height: unset !important;
}

body > .btn-top, body > nav, body > main {
    visibility: hidden
}

#row1, #row2, #row3 {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
@media (min-width: 768px) {
    .quote {
        padding-top: 0px;
        position: relative;
        top: 100px;
        font-size: 20px;
        margin: auto;
    }
    #row1 .quote, #row3 .quote {
        top: 0px;
        animation: move 2s;
    }
    #row2 .quote {
        top: 50px;
        animation: l-move 2s;
    }
    @keyframes move {
        0% {
            top: -50px;
        }
        100% {
            top: 0px;
        }
    }
    @keyframes l-move {
        0% {
            top: 0px;
        }
        100% {
            top: 50px;
        }
    }
}
@media (min-width: 992px) {
    .quote {
        padding-top: 0px;
        position: relative;
        font-size: 20px;
        margin: auto;
    }
    #row1 .quote, #row3 .quote {
        top: 100px;
        animation: move 2s;
    }
    #row2 .quote {
        top: 120px;
        animation: l-move 2s;
    }
    @keyframes move {
        0% {
            top: 0px;
        }
        100% {
            top: 100px;
        }
    }
    @keyframes l-move {
        0% {
            top: 50px;
        }
        100% {
            top: 120px;
        }
    }
}

/* Parallex */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
}
.bgimg-1 {
    background-image: url("https://i.imgur.com/8fUOkpC.jpg");
    min-height: 100vh;
}
.bgimg-2 {
    background-image: url("https://i.imgur.com/EwWkdkq.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("https://i.imgur.com/wjuuYwZ.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("https://i.imgur.com/6SdM3FH.jpg");
    min-height: 100vh;
}

@media screen and (max-width:600px) {
    .bgimg-4 {
        background-position: center;
        background-size: 600px 500px;
    }
}

.caption {
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
/* Parallex (end) */

/* Custom button */
.button{
    margin-right: 40px;
    text-decoration: none;
    font-size: 18px;
    color: #6C7686;
    text-shadow: 0 1px 0 rgba(255,255,255,0.29);
    letter-spacing: 6px;
    display: inline-block;
    background: #C0C0C0;
    font-family: "open sans";
    font-weight: 600;
    line-height: 84px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    width: 250px;
    height: 84px;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(-179deg, #F4F4F4 0%, #C0C0C0 100%);
    box-shadow: 0 5px 6px -4px rgba(0,0,0,0.22), 0 10px 13px -4px rgba(0,0,0,0.34), inset 0 30px 30px 0 rgba(255,255,255,0.35), inset 0 -30px 30px 0 rgba(0,0,0,0.10);
    border-radius: 140px;
  
  }
.button:hover{
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.22), 0 10px 13px 0px rgba(0,0,0,0.34), inset 0 18px 18px 0 rgba(255,255,255,0.35), inset 0 -18px 18px 0 rgba(0,0,0,0.10);
    transform: translate(0px, -4px);
    backface-visibility: hidden;
    color: #7A8393;
}
.button:active{
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.22), 0 10px 13px 0px rgba(0,0,0,0.34), inset 0 3px 3px 0 rgba(255,255,255,0.35), inset 0 -3px 3px 0 rgba(0,0,0,0.10);
    backface-visibility: hidden;
}

.circle{
    margin-left: 40px;
    text-decoration: none;
    font-size: 36px;
    color: #6C7686;
    text-shadow: 0 1px 0 rgba(255,255,255,0.29);
    display: inline-block;
    background: #fff;
    font-family: "open sans";
    font-weight: 600;
    line-height: 45px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    width: 45px;
    height: 45px;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(-179deg, #F4F4F4 0%, #C0C0C0 100%);
    box-shadow: 0 5px 6px -4px rgba(0,0,0,0.22), 0 10px 13px -4px rgba(0,0,0,0.34), inset 0 100px 100px 0 rgba(255,255,255,0.35), inset 0 -100px 100px 0 rgba(0,0,0,0.10);
    border-radius: 140px;
}
.circle:hover{
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.22), 0 10px 13px 0px rgba(0,0,0,0.34), inset 0 18px 18px 0 rgba(255,255,255,0.35), inset 0 -18px 18px 0 rgba(0,0,0,0.10);
    transform: translate(0px, -4px);
    backface-visibility: hidden;
    color: #7A8393;
}
.circle:active{
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.22), 0 10px 13px 0px rgba(0,0,0,0.34), inset 0 3px 3px 0 rgba(255,255,255,0.35), inset 0 -3px 3px 0 rgba(0,0,0,0.10);
    backface-visibility: hidden;
}
/* Custom button (end) */